<link rel="stylesheet" href="js/components/actionbutton/actionbutton.css">

<div class="btn-group dropup">
    <button id="act_main-<%= cid %>" class="btn btn-inverse btn-small" data-i18n="home.btn_act_exit">EXIT</button>
    <button class="btn btn-inverse dropdown-toggle btn-small" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="#" class="btn-small">Action</a></li>
        <li><a href="#" class="btn-small">Another action</a></li>
        <li><a href="#" class="btn-small">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#" class="btn-small">Separated link</a></li>
    </ul>
</div>