<div id="<%= cid %>" class="hide console">

    <ul class="nav nav-tabs" id="tab-<%= cid %>">
        <li class="active"><a href="#ALL-<%= cid %>">All</a></li>
        <li><a href="#FINE-<%= cid %>">Debug</a></li>
        <li><a href="#INFO-<%= cid %>">Info</a></li>
        <li><a href="#WARNING-<%= cid %>">Warning</a></li>
        <li><a href="#ERRORS-<%= cid %>">Error</a></li>
    </ul>

    <div class="tab-content">
        <div id="ALL-<%= cid %>" class="tab-pane active">...</div>
        <div id="ERRORS-<%= cid %>" class="tab-pane">...</div>
        <div id="INFO-<%= cid %>" class="tab-pane">...</div>
        <div id="WARNING-<%= cid %>" class="tab-pane">...</div>
        <div id="FINE-<%= cid %>" class="tab-pane">...</div>
    </div>

</div>