############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


/java/.idea
/java/out
/installer/x64/setup_desktopgap_x64-SetupFiles
/installer/x64/setup_desktopgap_x64-cache
/installer/x86/setup_desktopgap_x86-SetupFiles
/installer/x86/setup_desktopgap_x86-cache


/java/XPOINT_SAP_CONNECTOR.jcoDestination
.DS_Store
java/.DS_Store
java/src/.DS_Store
java/src/org/.DS_Store
java/src/org/smartly/.DS_Store
java/src/org/smartly/application/.DS_Store
java/src/org/smartly/application/desktopgap/.DS_Store
