body {
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    background: url("../images/patterns/pattern-3.png") repeat;
    color: #f3f3f3;
    text-shadow: 0.5px 0.5px 1px #fff;
    letter-spacing: 5px;
}
