<link rel="stylesheet" href="js/components/list/list.css">

<script id="tpl-<%= cid %>" type="text/template">
    <li>
        <div class="list-item">
            <span id="ico-<%= cid %>-{_id}" class="list-icon">&nbsp;</span>
            <div id="txt-<%= cid %>-{_id}" class="list-text" data-id="{_id}">{description}</div>
            <span id="fav-<%= cid %>-{_id}" class="list-fav">&nbsp;</span>
        </div>
    </li>
</script>

<div id="title-<%= cid %>"></div>
<ul id="list-<%= cid %>" class="list"></ul>