
@font-face {
    font-family: 'AIRBORNE';
    src: url('../../fonts/AIRBORNERegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'AIRBORNE', "Courier New";
    font-size: 12px;
}

#app_content {
    height: 100%;
}

.console {
    height: 100%;
}

.tab-content {
    height: 100%;
}

.tab-pane {
    padding: 0 10px;
    overflow: auto;
}

.message-box {
    margin-top: 3px;
    padding-top: 2px;
    border-top: 1px #bbbbbb solid;
    vertical-align: top;
}

.message-box>* {
    vertical-align: top;
    display: inline-block;
}

.image {
    max-width: 32px;
    max-height: 32px;
}

.datetime {
    margin-left: 5px;
}

.message {
    padding-left: 5px;
    font-weight: bold;
}